ul {
  list-style-type: none;
 }

 a {
  font-size: 30px;
 }

.nav-container {
  padding: 5px, 30px;
  display: flex;
  background-color: gray;
  justify-content: flex-end;
}

.navigation-link {
  padding: 5px;
  text-decoration: underline;
}